@font-face {
    font-family: 'Arial-MT';
    src: url("assets/fonts/Arial-MT.woff");
}

body {
    min-width: 480px;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    transition: background-image 1s ease-in-out;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    flex-wrap: nowrap;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 35vh;
    min-height: 200px;
    width: 97%; //при большей ширине появляется горизонтальный скролл. Выяснить почему;
    padding: 20px 20px 0 20px;
}

.player {
    width: 15%;
    border-radius: 10px;
    padding: 7px 0 7px 7px;
    display: flex;
    flex-direction: column;   
    align-items: center; 
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.player-previous, .player-next {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-size: contain;
    opacity: 0.3;
}

.player-previous {
    background-image: url('../assets/img/previous.png');
    transform: rotate(180deg);
}

.player-icon {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
}

.player-previous:hover, 
.player-next:hover, 
.player-icon:hover {
    opacity: 0.7;
}

.player-icon:active, 
.player-previous:active,
.player-next:active {
    transform: scale(1.1);
}

.player-next {
    background-image: url('../assets/img/next.png');
}

.play {
    background-image: url('../assets/img/play.png');
    background-size: contain;
}

.pause {
    background-image: url('../assets/img/pause.png');
}

.songName {
    margin-top: 10px;
}

.timeline {
    width: 85%;
    background-color: #fff;
    height: 8px;
    margin: 4px auto 0;
    cursor: pointer;
}

.progress {
    background-color: coral;
    height: 100%;
    width: 0%;
    transition: 0.25s;
}

.player__additional-controls {
    display: flex;
    width: 85%; 
    justify-content: center;
    gap: 5px;
    margin-top: 4px;
}

.timeBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
}

.volume-container {
    display: flex;
    cursor: pointer;
    width: 70%;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
}

.volume-button {
    background-image: url('../assets/svg/volume_on.svg');
    border: none;
    width: 22px;
    height: 22px;
    background-size: contain;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.volume-button_mute {
    background-image: url('../assets/svg/mute.svg');
    transition: 0.3s;
}

.volume-slider {
    width: 75%;
    background-color: #fff;
    height: 12px;
    border-radius: 3px;
}

.volume-percantage {
    background-color: coral;
    height: 100%;
    width: 0%;
    transition: 0.3s;
}

.play-list {
    text-align: left;
    padding-left: 0;
    margin-top: 8px;
    width: 85%;
}

.play-item {
    opacity: 0.7;
    list-style: none;
    background-image: url('../assets/svg/play.svg');
    background-repeat: no-repeat;
    text-indent: 25px;
    margin-bottom: 4px;
    cursor: pointer;
    color: black;
    background-color: white;
    border-radius: 8px;
}

.play-item:hover {
    opacity: 0.8;
}

.play-item__active {
    opacity: 1;
    background-color: coral;
    background-image: url('../assets/svg/pause.svg');
    transition: 0.3s;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 15%;
    min-height: 180px;
    border-radius: 10px;
    padding: 0 7px 7px 7px;
}

.weather__main-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
}

.temperature_and_description_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.temperature {
    font-size: 30px;
}

.weather__extra-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 7px 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 100%;
}

.weather__provider {
    font-size: 14px;
    padding-top: 2px;
}

.weather__provider a {
    color: coral;
    text-decoration: none;
}

.icon {
    font-size: 44px;
}

.city {
    width: 95%; //при большей ширине выходит за пределы блока
    height: 35px;
    padding: 5px;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
    border: 0;
    outline: 0;
    background-color: transparent;
    border-bottom: 2px solid #fff;
}

.city::placeholder {
    font-size: 25px;
    color: #fff;
    opacity: 0.5;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 40vh;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Robot', sans-serif;
    font-weight: bold;
    font-size: 100px;
    letter-spacing: 10px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.greeting-container {
    width: 99vw;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    font-size: 35px;
}

.greeting {
    flex: 1;
    padding: 10px;
    text-align: right;
}

.input {
    flex: 1;
    background-color: transparent;
    color: white;
    max-width: 50%;
    text-align: left;
    border: 0;
    outline: 0;
}

.input::placeholder {
    color:#fff;
    opacity: 0.7;
}

.slider {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 95%;
    top: 50%;
}

.nextSlide, .previousSlide {
    cursor: pointer;
    width: 32px;
    opacity: 0.7;
}

.nextSlide:hover,
.previousSlide:hover {
    opacity: 1;
}

.nextSlide:active,
.previousSlide:active {
    transform: scale(1.1);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
}

.change_quote {
  background-image: url('../assets/svg/refresh.svg');
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.change_quote:hover {
    background-color: rgba(255, 255, 255, 1);
}

.change_quote:active {
    transform: scale(1.1);
}

.quote {
    width: 70%;
    font-size: 20px;
}

.author {
    width: 30%;
    font-size: 20px;
} 