@font-face {
    font-family: 'Arial-MT';
    src: url("assets/fonts/Arial-MT.woff");
}

body {
    min-width: 480px;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    transition: background-image 1s ease-in-out;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 25vh;
    min-height: 200px;
    width: 97%; //при большей ширине появляется горизонтальный скролл. Выяснить почему;
    padding: 20px;
}

.player {
    width: 15%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 7px 0 7px 7px;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.player-previous, .player-next {
    width: 48px;
    height: 48px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-size: contain;
    opacity: 0.7;
}



.player-previous {
    background-image: url('../assets/img/previous.png');
}

.player-icon {
    width: 64px;
    height: 64px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.9;
}

.player-previous:hover, 
.player-next:hover, 
.player-icon:hover {
    opacity: 1;
}

.player-icon:active, 
.player-previous:active,
.player-next:active {
    transform: scale(1.1);
}

.player-next {
    background-image: url('../assets/img/next.png');
}

.play {
    background-image: url('../assets/img/play.png');
}

.play-list {
    list-style: none;
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
}

.play-item {
    opacity: 0.7;
}

.play-item__active {
    opacity: 1;
}

.pause {
    background-image: url('../assets/img/pause.png');
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 15%;
    min-height: 180px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 0 0 7px 7px;
}

.temperature {
    font-size: 30px;
}

.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 12px;
    font-size: 25px;
}

.icon {
    font-size: 44px;
}

.city {
    width: 95%; //при большей ширине выходит за пределы блока
    height: 35px;
    padding: 5px;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
    border: 0;
    outline: 0;
    background-color: transparent;
    border-bottom: 2px solid #fff;
}

.city::placeholder {
    font-size: 25px;
    color: #fff;
    opacity: 0.5;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 40vh;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Robot', sans-serif;
    font-weight: bold;
    font-size: 100px;
    letter-spacing: 10px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.greeting-container {
    width: 99vw;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    font-size: 35px;
}

.greeting {
    flex: 1;
    padding: 10px;
    text-align: right;
}

.input {
    flex: 1;
    background-color: transparent;
    color: white;
    max-width: 50%;
    text-align: left;
    border: 0;
    outline: 0;
}

.input::placeholder {
    color:#fff;
    opacity: 0.7;
}

.slider {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 95%;
    top: 50%;
}

.nextSlide, .previousSlide {
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
}

.change_quote {
  align-items: center;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 18px;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.change_quote:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.change_quote:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.change_quote:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.change_quote:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.change_quote:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.change_quote:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.change_quote:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.change_quote:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.quote {
    width: 70%;
    font-size: 20px;
    text-shadow: 4px 4px 2px rgba(168, 168, 168, 1);
}

.author {
    width: 30%;
    font-size: 20px;
    text-shadow: 4px 4px 2px rgba(168, 168, 168, 1);
} 