* { 
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    background-color: #fff;
}

@media (max-width: 390px) {
    body {
        max-width: 390px;
    }
}

main {
    max-height: 3500px;
}

@media (max-width: 390px) {
    max-height: 1335px;
}

.header {
    padding: 0;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 390px) {
    .header {
        justify-content: space-between;
        width: 358px;
        height: 32px;
        margin-left: 16px;
        margin-top: 43px;
    }
    
}

.header-background {
    background-color: #F2785C;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    height: 90px;
    width: 1440px;
    position: absolute;
    top: 0px;
    opacity: 70%;
    z-index: -1;
}

@media (max-width: 390px) {
    .header-background {
        display: none;
    }
}


.main-logo {
    width: 216px;
    height: 31px;
    margin-left: 120px;
    margin-right: 158px;
    align-self: flex-start;
    margin-top: 25px;
}

@media (min-width: 390px) {
    .mobile-logo {
        display: none;
    }
}

@media (max-width: 390px) {
    .main-logo {
        display: none;
    }
}

.nav {
    display: flex;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 196px;
    padding-inline-start: 0;
    width: 527px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (max-width: 390px) {
    .nav {
        display: none;
    }
    .navbtn {
        display: none;
    }
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
}

.button {
    background-color: #0D606F;
    color: #fff;
    font-size: inherit;
    font-family: inherit;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.navbtn {
    width: 103px;
    height: 41px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

@media (min-width: 390px) {
    .mobile-list {
        display: none;
    }
}

.background-img-1 {
    position: absolute;
    top: 0px;
    z-index: -2;
}

@media (min-width: 390px) {
    .background-img-1-mobile {
        display: none;
    }
}

@media (max-width: 390px) {
    .background-img-1 {
        display: none;
    }
}

.background-img-1-mobile {
    position: absolute;
    top: 0px;
    z-index: -2;
}

.preview-card {
    width: 892px;
    height: 422px;
    color: white;
    position: relative;
    left: 120px;
    top: 32px;
}

@media (max-width: 390px) {
    .preview-card {
        left: 15px;
        top: 67px;
        height: 176px;
        width: 100%;
    }
}

h1 {
    font-family: Aleo;
    font-size: 80px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 32px;
}

@media (max-width: 390px) {
    h1 {
        display: none;
    }
}

.preview-card p {
    font-family: Aleo;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 46px;
}

@media (max-width: 390px) {
    .preview-card p {
        display: none;
    }
}

.input {
    width: 892px;
    height: 95px;
    border-radius: 16px;
    opacity: 0.7;
    padding-left: 41px;
    border: none;
}

@media (max-width: 390px) {
    .input {
        width: 360px;
        height: 48px;
        font-size: 14px;
        padding-left: 16.55px;
    }
}

input::placeholder {
    color: #F2785C;
    font-family: Aleo;
    font-style: italic;
    font-size: 24px;
}

@media (max-width: 390px) {
    input::placeholder {
        font-size: 14px;
    }
}

.previewbtn {
    width: 228px;
    height: 59px;
    font-size: 24px;
    position: relative;
    bottom: 77px;
    left: 644px;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

@media (max-width: 390px) {
    .previewbtn {
        width: 92px;
        height: 30px;
        font-size: 11px;
        left: 260px;
        bottom: 40px;
    }
}

.steps-block {
    width: 1177px;
    height: 247px;
    position: relative;
    left: 131px;
    margin-top: 334px;
}

@media (max-width: 390px) {
    .steps-block {
        width: 360px;
        height: 153px;
        left: 15px;
        margin-top: 20px;
    }
}

.steps-block h2 {
    color: #F2785C;
    font-size: 40px;
    font-family: "Red Hat Text";
    font-weight: 500;
    text-align: center;
    margin: 0;
}

@media (max-width: 390px) {
    .steps-block h2 {
        font-size: 14px;
        margin-bottom: 20px;
    }
}

.steps-figures {
    display: flex;
    justify-content: space-between;
}

.steps-figures figure:first-child {
    padding-right: 230px;
}

@media (max-width: 390px) {
    .steps-figures figure:first-child {
        padding-right: 74px;
    }
}

.steps-figures figure:last-child {
    padding-left: 161px;
}

@media (max-width: 390px) {
    .steps-figures figure:last-child {
        padding-left: 73px;
    }
}

.steps-figures figure {
    margin: 40px 0 0 0;
}

.steps-image {
    background-color: #F2785C;
    width: 100px;
    height: 100px;
    border-radius: 16px;
    margin: 0 auto 30px;
}

@media (max-width: 390px) {
    .steps-image {
        width: 70px;
        height: 70px;
        margin: 0 auto 19px;
    }
}

.logo-1 {
    padding: 28px 25px 27px;
}

@media (max-width: 390px) {
    .logo-1 {
        padding: 19px 17px 19.5px 18px;
    }
}

.logo-2 {
    padding: 24px;
}

@media (max-width: 390px) {
    .logo-2 {
        padding: 18px 17px 17px 18px;
    }
}

.logo-3 {
    padding: 28px 20px 27px;
}

@media (max-width: 390px) {
    .logo-3 {
        padding: 20px 15px;
    }
}

.steps-block figcaption {
    color: #0D606F;
    font-family: Aleo;
    font-weight: 400;
    font-size: 20px;
}

@media (max-width: 390px) {
    .steps-block figcaption {
        font-size: 10px;
    }
}

.destinations-block {
    width: 2520px;
    height: 1042px;
    position: relative;
    left: -540px;
    margin-top: 97px;
    margin-bottom: 80px;
}

.destinations-block h2 {
    color: #F2785C;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin: 0 auto 46px;
}

.destinations-figures {
    display: flex;
    justify-content: center;
}

.destinations-figures figure {
    margin: 0 30px 0px 30px;
}

.destination-caption {
    position: relative;
    bottom: 90px;
    left: 15px;
    color: white;
    font-size: 32px;
}

.indicator {
    width: 80px;
    margin: 0 auto;
}

.indicator ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    padding-left: 0;
    margin-bottom: 40px;
    margin-top: -25px;
    cursor: pointer;
}

.filled {
    width: 20px;
    height: 20px;
    background-color: #F2785C;
    border-radius: 50px;
}

.not-filled {
    opacity: 50%;
}

.destinationsbtn {
    display: block;
    margin: 0 auto;
    font-size: 24px;
    width: 228px;
    height: 59px;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    padding: 0;
}

.btn-wrapper {
    display: flex;
    align-items: center;
}
.btn-wrapper img {
    padding-left: 32px;
    padding-right: 10px;
}

.stories-block {
    width: 1201px;
    height: 1322px;
    position: relative;
    left: 119px;
}

.stories-block h2 {
    font-family: 'Red Hat Text';
    font-weight: normal;
    font-size: 40px;
    color: #F2785C;
    text-align: center;
    margin-bottom: 80px;
}

.stories-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.story-card {
    display: flex;
    width: 100%;
}

.story-card img {
    width: 400px;
    height: 250px;
    margin-bottom: 30px;
}

.text-block {
    width: 760px;
    margin-left: 40px;
}

.text-block h3 {
    font-family: Aleo;
    font-weight: 400;
    color: #0D606F;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-block p {
    font-family: Aleo;
    color: #0D606F;
    font-size: 20px;
    font-weight: 400;
}

.text-block a {
    color: #0D606F;
    font-weight: bold;
}

.storiesbtn {
    width: 228px;
    display: flex;
    margin: 10px auto 0;
    padding: 10px 32px;
    font-size: 24px;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    align-items: center;
}

.storiesbtn img {
    padding: 0 10px 0 0;
}

.background-image-2 {
    position: relative;
    bottom: 1230px;
    z-index: -2;
}

.footer-background {
    background-color: #fff;
    height: 1270px;
    width: 1442px;
    opacity: 70%;
    z-index: -1;
    position: relative;
    bottom: 2566px;
}

footer {
    display: flex;
    align-items: center;
    height: 61px;
    margin-top: 83px;
}

.footer-text {
    width: 82%;
    color: white;
    padding-left: 590px;
}

.social-media {
    width: 18%;
}

.social-media ul {
    display: flex;
    gap: 20px;
    padding-left: 0;
}

.social-media li {
    list-style: none;
}